<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Formulário Básico</title>
</head>
<body>
    <form id="meuForm">
        <label for="inputField">Primeiro número:</label>
        <input type="text" id="n1" name="inputField"><br><br>

        <label for="selectField">Operação:</label>
        <select id="selectField" name="selectField">
            <option value="soma">+</option>
            <option value="subtrair">-</option>
            <option value="multiplicar">X</option>
            <option value="dividir">%</option>
        </select><br><br>

        <label for="anotherInput">Segundo número:</label>
        <input type="text" id="n2" name="anotherInput"><br><br>

        <button type="button" id="botaoCalcular">Calcular</button>
    </form>

    <div id="result"></div>

    
</body>
</html>
